<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 



    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <h2 class="articleheading">Bon Voyage.</h2>
            <div class="dateauthor">
                <div class="date">4 Aug 4 min</div>
                <div class="author">Tony stark</div>
            </div>
            <img src="img/7.jpg" alt="Unable to load Image">
            <div class="articlecontent">
                <h3 class="heading">Bon voyage and good luck!</h3>
                <p class="actualarticle"> French people have been wishing each other Bon voyage (Have a nice trip) for centuries. The saying is so common that it’s one of those French phrases that’s been adopted into other languages, including English.
                    <br><br>
                    Despite how frequently you might hear it, like any ultimate travel destination, bon voyage offers a lot more to discover than you might expect.
                    Let’s take a guided tour of Bon voyage  and learn about the travel habits of the French along the way!
                    Bon voyage means “Have a good trip”. But as you can see, there aren’t quite as many words to it. Literally, it’s just “Good trip/voyage”. 
                    </p>
                
            </div>
        </div>
        <%-include("partials/ucanalsolookat")%>
    

    <div class="contactlogos maxwidth1 mauto">
        <div class="contactlogosinside maxwidth2 mauto">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp" alt="Unable to load image"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp" alt="Unable to load image"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp" alt="Unable to load image"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                    alt="Unable to load image"></a>
        </div>
    </div>
    



    </div>



    <%-include("partials/footer")%>