<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 


    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <h2 class="articleheading">Lets See china.</h2>
            <div class="dateauthor">
                <div class="date">4 Aug 4 min</div>
                <div class="author">Tony stark</div>
            </div>
            <img src="img/3.jpg" alt="Unable to load Image">
            <div class="articlecontent">
                <h3 class="heading">Don't listen to what they say, go see.</h3>
                <p class="actualarticle">   China, a land of beauty and fascination, tempts adventurous travellers all over the world. China also is a massive country, covering 6,000,000 square miles and has infinite variety of people, enchanting natural landscape, brilliant history and culture and fascinating destinations.
                    The area of china is about 9,600,000 sq km, 9.6 million Sq km. Population is 1.24 billion
                    <br><br>
                    The capital city is Beijing whose population is 12 million. China has 31 provinces and Taiwan, Hongkong and Marcou. Official language of China is Manderin (Beijing dialect mandarin). The main religioun are officially atheist; Confucianism, Buddhism, Taoism (no stats available); Muslim (14 million), Christian (7 million)
                    China's climate varies from bitter coldness in winter to unbearable heat in summer. Since the size and varied landscape of the country, there is no one time in the year when Chinese weather is ideal. Of course, the warmest areas in winter are to be found in the South and Southwest, such as Sichuan, Banna in Yunnan, and Hainan Island. In summer the coolest spots are in the far northeast.
                    Chinese food enjoys high reputation in the world due to its abundance and exquisite, delicious taste and charming appearance. It differs due to the diversity of the climate, products and customs of local regions. Therefore, there are widely different food styles and taste in local regions. Of long history it has become part of the nation's traditional cultures.
                    <br><br>
                    Since China's local dishes have their own typical characteristics, generally, Chinese food can be roughly divided into eight regional cuisines, which has been widely accepted around. Certainly, there are many other local cuisines which are famous, such as Beijing Cuisine and Shanghai Cuisine.</p>
                
            </div>
        </div>
        <%-include("partials/ucanalsolookat")%>
    

    <div class="contactlogos maxwidth1 mauto">
        <div class="contactlogosinside maxwidth2 mauto">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp" alt="Unable to load image"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp" alt="Unable to load image"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp" alt="Unable to load image"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                    alt="Unable to load image"></a>
        </div>
    </div>
    



    </div>



    <%-include("partials/footer")%>