<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 



    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <h2 class="articleheading">The Incredible India Gate.</h2>
            <div class="dateauthor">
                <div class="date">4 Aug 4 min</div>
                <div class="author">Tony stark</div>
            </div>
            <img src="img/6.jpg" alt="Unable to load Image">
            <div class="articlecontent">
                <h3 class="heading">India Gate – A Legendary Saga of Supreme Sacrifice</h3>
                <p class="actualarticle"> India gate was constructed to honor the soldiers of India that were killed during world war 1. This structure boasts of a beautiful architecture by India. It was first inaugurated in the year 1931 and it still has the same charm. <br><br>
                    Also, this structure reminds of us the sacrifices made by thousands of soldiers who have given their lives during the first world war. The essay on India gate is an insight into this famous memorial in India. Whenever someone visits Delhi, they never miss the India gate. Thus, it has become one of the integral parts of Delhi and also a major tourist attraction. The locals as well as the tourists coming to visit Delhi flock this place all around the year. Also, for many locals, the sprawling lawns around the gate on both sides is a nice picnic spot. 
                    <br><br>
                    It is very easy to reach the India gate as it is located centrally. Also, for winters, people pack their lunch and head to India gate along with their friends and families to spend the quality time. One can see children playing in these lawns along with elders sitting. The sight also looks good during the summer months. However, the most beautiful time to visit this place is in the night when it is illuminated fully with lights. </p>
                
            </div>
        </div>
        <%-include("partials/ucanalsolookat")%>
    

    <div class="contactlogos maxwidth1 mauto">
        <div class="contactlogosinside maxwidth2 mauto">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp" alt="Unable to load image"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp" alt="Unable to load image"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp" alt="Unable to load image"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                    alt="Unable to load image"></a>
        </div>
    </div>
    



    </div>



    <%-include("partials/footer")%>