<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 



    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <h2 class="articleheading">No Road is Long.</h2>
            <div class="dateauthor">
                <div class="date">4 Aug 4 min</div>
                <div class="author">Tony stark</div>
            </div>
            <img src="img/4.jpg" alt="Unable to load Image">
            <div class="articlecontent">
                <h3 class="heading">Nothing behind me, everything ahead of me, as is ever so on the road.</h3>
                <p class="actualarticle">  Riding in a car can be very difficult, when it’s full of people. I had that experience, when my family decided to go visit my sister in Virginia. It was the second day of spring 2012, the weather was chilly. We headed down to Virginia around nine am. The roads were foggy and there were still signs of snow. It was one of the worst trips of my life, because my brother made me sit in back, where there is no room to move around. <br><br>
                    All I could do was sit there quietly. I thought I could sleep the whole time, so I put my headphones on and listened music but it was not as easy as I thought . The roads were horrible and damaged, the car started to jerk, so every time I try to sleep, a pothole woke me up. My family started their chit chat, and gossip while I was all alone in the back of the car listing music .I had a feeling that my trip wouldn’t be as fun as I thought it .On our way to Virginia, we went through Ohio, where speed limits are annoyingly lower from Michigan. I noticed the cops were hiding by the shoulder; this is when my brother slowed down speed and drove carefully. However, the view of Ohio was amazing; there were tall, majestic horses on the side of the highways. As we drove further, I noticed there were farms and markets where people selling tomatoes, corn and cherries. We stopped by one those farms and bought ten dollars worth of cherries. Then we went ahead to the horse and cow farms, I heard the cows were mooing and there many were adorable calves. 
                    <br><br>
                    It was even more fascinating to observe how the cattle were eating and chewing their cud. As we left Ohio, we reached in the state of Pennsylvania; we stopped there at a McDonald’s for lunch.</p>
                
            </div>
        </div>
        <%-include("partials/ucanalsolookat")%>
    

    <div class="contactlogos maxwidth1 mauto">
        <div class="contactlogosinside maxwidth2 mauto">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp" alt="Unable to load image"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp" alt="Unable to load image"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp" alt="Unable to load image"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                    alt="Unable to load image"></a>
        </div>
    </div>
    



    </div>



    <%-include("partials/footer")%>