<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 



    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <h2 class="articleheading">Let The Desert Set You Free.</h2>
            <div class="dateauthor">
                <div class="date">4 Aug 4 min</div>
                <div class="author">Tony stark</div>
            </div>
            <img src="img/5.jpg" alt="Unable to load Image">
            <div class="articlecontent">
                <h3 class="heading">What makes the desert beautiful is that somewhere it hides a well.</h3>
                <p class="actualarticle"> A desert is any large and dry area mostly dominated by sand or rocks, that receives little rainfall, and have unfavorable conditions for crops and agriculture, and poses harsh living conditions for human-beings.
                    <br><br>
                    One third or 33 percent of Earth’s land surface is covered with deserts. World’s largest desert is Antarctica, is a polar desert measuring 5.5 million square miles. Sahara, the largest non-polar desert, measures around 3.5 million square miles.
                    A geographical region is turned into a desert it looses more water by evaporation then it gains by natural precipitation. 
                    The life in a desert is tough due to lack of rainfall, high temperature, and less vegetation. Nevertheless when you look closely, you will see that deserts are filled with life in their nooks and crannies.
                    <br><br>
                    Winds are also not uncommon in deserts, and the activity of desert winds can help deserts to spread far and wide by picking up the sand of the desert and carrying it elsewhere.
                    The flora and fauna of deserts have adapted to cope with harsh, dry conditions. Plants such as cacti and animals such as camels have evolved to store water in their succulent xylem and in their humps respectively.</p>
                
            </div>
        </div>
        
        <%-include("partials/ucanalsolookat")%>
    

    <div class="contactlogos maxwidth1 mauto">
        <div class="contactlogosinside maxwidth2 mauto">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp" alt="Unable to load image"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp" alt="Unable to load image"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp" alt="Unable to load image"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                    alt="Unable to load image"></a>
        </div>
    </div>
    



    </div>



    <%-include("partials/footer")%>