<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 



    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <h2 class="articleheading">Love is in the air.</h2>
            <div class="dateauthor">
                <div class="date">4 Aug 4 min</div>
                <div class="author">Tony stark</div>
            </div>
            <img src="img/2.jpg" alt="Unable to load Image">
            <div class="articlecontent">
                <h3 class="heading">Let your dreams take flight.</h3>
                <p class="actualarticle">  A hot air balloon is a type of aircraft. It is lifted by heating the air inside the balloon, usually with fire. Hot air weighs less than the same volume of cold air (it is less dense), which means that hot air will rise up or float when there is cold air around it, just like a bubble of air in a pot of water. <br><br>
                    The greater the difference between the hot and the cold, the greater the difference in density, and the stronger the balloon will pull up. This means that balloons can carry more weight on a cold day, or if the air inside the balloon is very hot. At higher temperature, the air molecules move faster. This causes the molecules to spread out and therefore hot air is less dense than cooler air. The air is made up of molecules. When the air is cold, these molecules are closer together. When the air is hot, they move away from each other. So, in the same space, there are fewer molecules in hot air. Hot air is therefore lighter than cold air. This makes it rise and carry up the balloon when the air inside it is heated. The air is heated in the balloon with a burner, which uses bursts of fire to keep the air hot. The fire is fuelled by propane.
                    <br><br>
                    The heated air is kept inside the balloon by its fabric. This is called the "envelope". It is usually made of nylon.
                    The passengers and the pilot stand in the basket, which is attached to the balloon by ropes. The basket is usually made of wicker. Baskets can come in many sizes. It can have enough places for up to 36 people. It depends the size of the balloon to carry that much weight. </p>
                
            </div>
        </div>
        <%-include("partials/ucanalsolookat")%>
    

    <div class="contactlogos maxwidth1 mauto">
        <div class="contactlogosinside maxwidth2 mauto">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp" alt="Unable to load image"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp" alt="Unable to load image"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp" alt="Unable to load image"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                    alt="Unable to load image"></a>
        </div>
    </div>
    



    </div>



    <%-include("partials/footer")%>