<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 



    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <h2 class="articleheading">Sky Above,Sand Below,Peace Within.</h2>
            <div class="dateauthor">
                <div class="date">4 Aug 4 min</div>
                <div class="author">Tony stark</div>
            </div>
            <img src="img/8.jpg" alt="Unable to load Image">
            <div class="articlecontent">
                <h3 class="heading">An ocean breeze puts a mind at ease.</h3>
                <p class="actualarticle"> A visit to any place can be an amazing adventure as wherever you go it becomes a part of your life. The one place I never get tired of visiting is the beach even though I have visited it so many times. One can always wonder how visiting the same place always gives different experience as each time we visit a place it is a completely different story .<br><br>
                    By the very act of coming back you wipe out whatever came before. The beach is just an amazing place to be, just listening to the sound of the waves, feeling the cool breeze across my face and my feet emerged into the sand makes me feel so relaxed, peaceful and completely free as though, I am in a magical place so calm and beautiful .And as you sit there and keep dreaming the beautiful sunset appears, “which gives your heart a change of mood of the day that you had rude”. Oh, how beautiful it is. Sunsets are a proof that no matter whatever happens in your day, each day can end beautifully .Being in this beautiful moment is the best escape anyone can have from reality for a little while .Looking at the  beautiful sea rushing wild and free but stops with a gentles touch on your feet en kindles my soul. Even though at the end as we walk away the sands my brush off, the salt my wash away, the tans may fade away. But those beautiful memories will remain .At the end of the day life is an art of drawing which can never be erased .
                    <br><br>
                    So, as long as you make beautiful memories and have fun a visit to any place is an amazing journey that can never be forgotten.</p>
                
            </div>
        </div>
        <%-include("partials/ucanalsolookat")%>
    

    <div class="contactlogos maxwidth1 mauto">
        <div class="contactlogosinside maxwidth2 mauto">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp" alt="Unable to load image"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp" alt="Unable to load image"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp" alt="Unable to load image"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                    alt="Unable to load image"></a>
        </div>
    </div>
    



    </div>



    <%-include("partials/footer")%>