<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 



    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <h2 class="articleheading">Lets Go Travel.</h2>
            <div class="dateauthor">
                <div class="date">4 Aug 4 min</div>
                <div class="author">Tony stark</div>
            </div>
            <img src="img/1.jpg" alt="Unable to load Image">
            <div class="articlecontent">
                <h3 class="heading">Travel is the only thing you buy that makes you richer.</h3>
                <p class="actualarticle"> Travelling means going from one place to another in different purposes. They also explore to see the unseen and know the unknown. The travellers always travel the most beautiful places of the world which uphold the existence of nature. <br><br>
                    All things are created by Allah. There are many means to see the unseen and know the unknown, but travelling is the best of all. For example: Reading books gives us literal knowledge, listening story gives us indefinite ideas, but travelling gives us visual as well as concrete knowledge. At the same time, people do not travel in the same purposes. Someone travels to gain knowledge and experience, someone travels for pleasure, someone travels for business purposes etc. There are different types of travelling like- travelling by air, bus, boat, train, bus etc. Every travelling has much educative value. It is a part of education. Our education and book knowledge remain imperfect without travelling. For this reason, we can learn many things by travelling. It teaches us trade and commerce, language, sociology, customs, culture, history, geography and so on. Therefore, the educative value of travelling beggars description. Besides, there are some special benefits of travelling. 
                    <br><br>
                    If a man stays at one place for a long time, he becomes monotonous and his life becomes boring and callous. Travelling removes our monotony and gives pleasure. Similarly, it also broadens our outlook and refreshes our mind. A good traveler can easily educate others. He can give us first-hand knowledge of men and matters of other country. I like travelling very much. </p>
                
            </div>
        </div>
        
        <%-include("partials/ucanalsolookat")%>
    

    <div class="contactlogos maxwidth1 mauto">
        <div class="contactlogosinside maxwidth2 mauto">
            <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp" alt="Unable to load image"></a>
            <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp" alt="Unable to load image"></a>
            <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp" alt="Unable to load image"></a>
            <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                    alt="Unable to load image"></a>
        </div>
    </div>
    



    </div>



    <%-include("partials/footer")%>