<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>website</title>
</head>

<body>


    <%-include("partials/navbar")%> 






    
     
    <div class="articles maxwidth1 mauto">

        <div class="article maxwidth2 ">
            <a href="/blog1.html"><img src="img/1.jpg" alt="Unable to load Image"></a>
            <div class="articlecontent">
                <div class="heading"><a href="/blog1.html">Lets Go Travel.</a></div>
                <div class="actualarticle">Travelling means going from one place to another in different purposes. They also explore to see the unseen and know the unknown. The travellers always travel the most beautiful places of the world which uphold the existence of nature.  </div>
                <div class="dateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
            </div>
        </div>

        <div class="article maxwidth2 ">
            <a href="/blog2.html"><img src="img/2.jpg" alt="Unable to load Image"></a>
            <div class="articlecontent">
                <div class="heading"><a href="/blog2.html">Love is in the air.</a></div>
                <div class="actualarticle">A hot air balloon is a type of aircraft. It is lifted by heating the air inside the balloon, usually with fire. Hot air weighs less than the same volume of cold air (it is less dense), which means that hot air will rise up or float when there is cold air around it, just like a bubble of air in a pot of water. </div>
                <div class="dateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
            </div>
        </div>

        <div class="article maxwidth2 ">
            <a href="/blog3.html"><img src="img/3.jpg" alt="Unable to load Image"></a>
            <div class="articlecontent">
                <div class="heading"><a href="/blog3.html">Lets See china.</a></div>
                <div class="actualarticle">China, a land of beauty and fascination, tempts adventurous travellers all over the world. China also is a massive country, covering 6,000,000 square miles and has infinite variety of people, enchanting natural landscape, brilliant history and culture and fascinating destinations.</div>
                <div class="dateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
            </div>
        </div>

        <div class="article maxwidth2 ">
            <a href="/blog4.html"><img src="img/4.jpg" alt="Unable to load Image"></a>
            <div class="articlecontent">
                <div class="heading"><a href="/blog4.html">No Road is Long.</a></div>
                <div class="actualarticle">Riding in a car can be very difficult, when it’s full of people. I had that experience, when my family decided to go visit my sister in Virginia. It was the second day of spring 2012, the weather was chilly. We headed down to Virginia around nine am.</div>
                <div class="dateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
            </div>
        </div>

        <div class="article maxwidth2 ">
            <a href="/blog5.html"><img src="img/5.jpg" alt="Unable to load Image"></a>
            <div class="articlecontent">
                <div class="heading"><a href="/blog5.html">Let The Desert Set You Free.</a></div>
                <div class="actualarticle">A desert is any large and dry area mostly dominated by sand or rocks, that receives little rainfall, and have unfavorable conditions for crops and agriculture, and poses harsh living conditions for human-beings. One third or 33 percent of Earth's land surface is covered with deserts.</div>
                <div class="dateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
            </div>
        </div>

        <div class="article maxwidth2 ">
            <a href="/blog6.html"><img src="img/6.jpg" alt="Unable to load Image"></a>
            <div class="articlecontent">
                <div class="heading"><a href="/blog6.html">The Incredible India Gate.</a></div>
                <div class="actualarticle">India gate was made to commemorate the soldiers of the British Indian that were killed during the first world war, there was a small edifice that was constructed under the honor of soldiers that lost also lost their lives during Bangladesh liberation war in 1971. </div>
                <div class="dateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
            </div>
        </div>

        <div class="article maxwidth2 ">
            <a href="/blog7.html"><img src="img/7.jpg" alt="Unable to load Image"></a>
            <div class="articlecontent">
                <div class="heading"><a href="/blog7.html">Bon Voyage.</a></div>
                <div class="actualarticle">French people have been wishing each other Bon voyage (Have a nice trip) for centuries. The saying is so common that it’s one of those French phrases that’s been adopted into other languages, including English. </div>
                <div class="dateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
            </div>
        </div>

        <div class="article maxwidth2 ">
            <a href="/blog8.html"><img src="img/8.jpg" alt="Unable to load Image"></a>
            <div class="articlecontent">
                <div class="heading"><a href="/blog8.html">Sky Above,Sand Below,Peace Within.</a></div>
                <div class="actualarticle">A visit to any place can be an amazing adventure as wherever you go it becomes a part of your life. The one place I never get tired of visiting is the beach even though I have visited it so many times. One can always wonder how visiting the same place always gives different experience as each time we visit a place it is a completely different story .</div>
                <div class="dateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
            </div>
        </div>


    </div>




    <%-include("partials/footer")%>