<div class="footer">
    <div class="footerinside maxwidth1 mauto">

        <div class="footleft">
            <div class="footlefttop">
                <div> <img src="img/myimage.jpg" alt="Unable to load image">
                </div>
                <div class="Aboutme">
                    <h3><a href="/about">About me</a></h3>
                    <div> I am a person who is positive about every aspect of life. There are many things I like to
                        do, to see, and to experience.
                    </div>
                </div>
            </div>
            <div class="footleftbottom">
                <h4>© Copyright 2021, All rights reserved.</h4>
            </div>
        </div>

        <div class="footright">
            <div class="footrighttop">
                    <div id="day"></div>
            </div>
            <div class="footrightbottom">
                <div class="contactlogosinside ">
                    <a href="https://facebook.com" target="_blank"><img src="img/facebook.webp"
                            alt="Unable to load image"></a>
                    <a href="https://twitter.com" target="_blank"><img src="img/twitter.webp"
                            alt="Unable to load image"></a>
                    <a href="https://youtube.com" target="_blank"><img src="img/youtube.webp"
                            alt="Unable to load image"></a>
                    <a href="https://instagram.com" target="_blank"><img src="img/instagram.webp"
                            alt="Unable to load image"></a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/nav.js"></script>




</body>

</html>