<nav class="navigationbar">
        <div class="left">
            <span class="logo"><a href="/">Blog</a></span>
            <ul class="navops ">
                <li class="navop"><a href="/">Home</a></li>
                <li class="navop"><a href="/yourblogs">Yourblogs</a></li>
                <li class="navop"><a href="/contact">Contact</a></li>
            </ul>
            <div class="openbutton" onclick="openphonenavbar()">&#9776;</div>
        </div>
        <div class="phone">
        <ul class="phonenavops ">
            <li class="phonenavop"><a href="/">Home</a></li>
            <li class="phonenavop"><a href="/yourblogs">Yourblogs</a></li>
            <li class="phonenavop"><a href="/contact">Contact</a></li>
            <li class="phonenavop"><a class="closebutton" href="#" onclick="closephonenavbar()">&times;</a></li>

        </ul>
        </div>
        <div class="right">
            <div class="searchform" >
                <input type="text" class="search" name="query" placeholder="Search">
                    <a href="/search" class="searchbutton"><img src="img/search.png" alt="Unable to load image"></a>
                  
            </div>


        </div>
        
    </nav>

