<div class="maxwidth1 mauto"><h3 class="youcanreadsheading " > You can also look at</h3></div>
        <div class="youcanreads maxwidth1 mauto">
            
    
            <div class="youcanread maxwidth4 ">
                <a href="/blog8"><img src="img/8.jpg" alt="Unable to load Image"></a>
                <div class="youcanreadarticlecontent">
                    <div class="youcanreadheading"><a href="/blog8">Sky Above,Sand Below,Peace Within.</a></div>
                    <div class="youcanreadactualarticle">The beach is just an amazing place to be, just listening to the sound of the waves, feeling the cool breeze across my face and my feet emerged into the sand makes me feel so relaxed, peaceful and completely free as though, I am in a magical place so calm and beautiful .</div>
                    <div class="youcanreaddateauthor">
                        <div class="date">4 Aug 4 min</div>
                        <div class="author">Tony stark</div>
                    </div>
                </div>
            </div>
    
            <div class="youcanread maxwidth4 ">
                <a href="/blog6"><img src="img/6.jpg" alt="Unable to load Image"></a>
                <div class="youcanreadarticlecontent">
                    <div class="youcanreadheading"><a href="/blog6">The Incredible India Gate.</a></div>
                    <div class="youcanreadactualarticle">India gate was made to commemorate the soldiers of the British Indian that were killed during the first world war, there was a small edifice that was constructed under the honor of soldiers that lost also lost their lives during Bangladesh liberation war in 1971. </div>
                    <div class="youcanreaddateauthor">
                        <div class="date">4 Aug 4 min</div>
                        <div class="author">Tony stark</div>
                    </div>
                </div>
            </div>
    
            <div class="youcanread maxwidth4 ">
                <a href="/blog7"><img src="img/7.jpg" alt="Unable to load Image"></a>
                <div class="youcanreadarticlecontent">
                    <div class="youcanreadheading"><a href="/blog7">Bon Voyage.</a></div>
                <div class="youcanreadactualarticle">French people have been wishing each other Bon voyage (Have a nice trip) for centuries. The saying is so common that it’s one of those French phrases that’s been adopted into other languages, including English. </div>
                <div class="youcanreaddateauthor">
                    <div class="date">4 Aug 4 min</div>
                    <div class="author">Tony stark</div>
                </div>
                </div>
            </div>
    
          
    
        </div>